<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Titel_WinForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Titel_WinFrorm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Titel_WinForm.Properties.Settings>
            <setting name="ofdMp3" serializeAs="String">
                <value />
            </setting>
            <setting name="ofdPic" serializeAs="String">
                <value />
            </setting>
            <setting name="sfdMp3" serializeAs="String">
                <value />
            </setting>
            <setting name="lastPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ofdTempl" serializeAs="String">
                <value />
            </setting>
            <setting name="sfdTempl" serializeAs="String">
                <value />
            </setting>
            <setting name="templExtended" serializeAs="String">
                <value>True</value>
            </setting>
        </Titel_WinForm.Properties.Settings>
        <Titel_WinFrorm.Properties.Settings>
            <setting name="ofdMp3" serializeAs="String">
                <value />
            </setting>
            <setting name="ofdPic" serializeAs="String">
                <value />
            </setting>
            <setting name="sfdMp3" serializeAs="String">
                <value />
            </setting>
        </Titel_WinFrorm.Properties.Settings>
    </userSettings>
</configuration>